# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.settings
.project
.classpath

# Gradle files (wrapper needs to be included) #
/build
!gradle-wrapper.jar
