# Compiled class file
*.class

# Log file
*.log
/log

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.settings
.project
.classpath
/bin

# Gradle files (wrapper needs to be included) #
.gradle
/build
!gradle-wrapper.jar

# dev env assets #
/assets
